
{% extends "topic/base.html" %}
{% block title %}修改个人信息{% endblock%}
{% block main %}
    <div id="sidebar">
    <div class="panel">
        <div class="header">
            <ul class="breadcrumb">
                <li><a href="https://cnodejs.org/">主页</a><span class="divider">/</span></li>
            </ul>
        </div>
            <div class="header">
                <span class="col_fade">个人信息</span>
            </div>
            <div class="inner">
                <div class="user_card">
                    <div>
                        <a class="user_avatar">
                            <img src="/images/3.jpg">
                        </a>
                        <span class="user_name">
                            <a class="dark">{{ user.username }}</a>
                        </span>

                        <div class="space clearfix"></div>
                        <span class="signature">
                             “这个人很懒什么也没留下 ”
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>


<form class="form-horizontal" method="post" action="{{ url_for('index.setting_sgin') }}">
    <div class="control-group">
        <label class="control-label">用户名</label>
        <div class="controls">
            <input type="text" class="input-xlarge" name="username">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">个性签名</label>
        <div class="controls">
            <input type="text" class="input-xlarge" name="sign">
        </div>
    </div>
    <div class="form-actions">
        <input type="submit" class="span-primary" value="保存设置">
    </div>
</form>
<form class="form-horizontal" method="post" action="{{ url_for('index.setting_password') }}">
    <div class="control-group">
        <label class="control-label">当前密码</label>
        <div class="controls">
            <input type="text" class="input-xlarge" name="password">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">新密码</label>
        <div class="controls">
            <input type="text" class="input-xlarge" name="newpassword">
        </div>
    </div>
    <div class="form-actions">
        <input type="submit" class="span-primary" value="更改密码">
    </div>
</form>
<form method="post"
      action="{{ url_for('.avatar_add') }}"
      enctype="multipart/form-data"
>
    <input type="file" name="avatar">
    <button type="submit">上传头像</button>
</form>

<img src="{{ user.image }} ">

{% endblock %}
